:root {
  --clr-yellow: #ffc914;
  --clr-grey: #b5c2b7;
  --clr-black: #2e282a;
  --clr-blue: #00a7e1;
  --clr-cream: #eddea4;
  --clr-white: #f5f3f5;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  background: var(--clr-white);
  font-family: "Roboto", sans-serif;
}
#nav ul {
  list-style-type: none;
  display: none;
}
#nav ul li:last-of-type {
  display: flex;
}
#nav ul li:last-of-type a {
  flex: 1 0 auto;
  text-align-last: center;
}

#nav ul li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: var(--clr-yellow);
  background: var(--clr-black);
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
#nav ul li a:hover {
  color: var(--clr-black);
  background: var(--clr-yellow);
}
.nav-logo {
  background: var(--clr-yellow);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.nav-logo .fa {
  font-size: 25px;
  align-self: center;
  padding: 10px;
  cursor: pointer;
}
.turn {
  transform: rotate(-180deg);
}

.new-nav {
  position: fixed;
  width: 100vw;
  z-index: 10 !important;
}
@media screen and (min-width: 776px) {
  #nav {
    border-top: 5px solid var(--clr-yellow);
    background: var(--clr-black);
    display: flex;
  }
  #nav ul {
    display: flex !important;
    flex: 1 0 auto;
    justify-content: space-around;
    align-self: center;
    flex-wrap: wrap;
    padding: 0 10px;
  }
  #nav ul li {
    flex: 1 0 100px;
  }
  #nav ul li a {
    border-radius: 5px;
    text-align: center;
  }
  #nav ul li:last-of-type {
    display: none;
  }
  .nav-icons {
    display: none;
  }
  #toggle-btn {
    display: none;
  }
}
header {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#banner {
  flex: 1 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/background-banner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner-text h1 {
  text-transform: uppercase;
  color: var(--clr-yellow);
  font-size: 60px;
  font-style: italic;
  text-decoration: underline;
}
.banner-text h3 {
  text-transform: capitalize;
  font-size: 30px;
  margin: 10px 0;
  color: var(--clr-white);
}
.banner-text a {
  display: inline-block;
  margin: 10px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 25px;
  padding: 10px;
  color: var(--clr-yellow);
  border: 3px solid var(--clr-yellow);
  background: transparent;
  transition: all 0.3s ease;
}
.banner-text a:hover {
  background: var(--clr-yellow);
  color: var(--clr-black);
}

#icon-section {
  background: var(--clr-black);
  height: 70px;
  text-align: center;
  padding: 20px 0;
}
#icon-section a {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  font-size: 30px;
  color: var(--clr-yellow);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
}
#icon-section a:hover {
  transform: translateY(-10px);
  color: var(--clr-cream);
}
.title {
  display: flex;
  padding: 20px;
}
.title-icon .fa {
  font-size: 60px;
  color: var(--clr-yellow);
  margin-right: 10px;
}
.title-text {
  padding-left: 10px;
  border-left: 3px solid var(--clr-grey);
  text-transform: uppercase;
}
.title-heading {
  color: var(--clr-black);
}
.title-subheading {
  padding: 5px;
  text-transform: capitalize;
  color: var(--clr-grey);
}

.skills-center {
  max-width: 90vw;
  margin: 0 auto;
  padding: 20px 0;
}
.skill {
  text-align: center;
  margin: 40px 0;
  cursor: pointer;
}
.skill .fa {
  font-size: 60px;
  color: var(--clr-yellow);
  background: var(--clr-black);
  padding: 60px;
  transition: all 0.3s ease;
}
.skill .fa:hover {
  background: var(--clr-yellow);
  color: var(--clr-cream);
}
.skill h3 {
  text-transform: uppercase;
  margin: 20px 0;
}
.skill p {
  line-height: 1.5;
  margin: 0 auto;
  width: 70%;
  color: var(--clr-grey);
}
.fa-apple {
  clip-path: polygon(0 100%, 50% 0, 100% 100%);
}
.fa-google {
  clip-path: polygon(
    0% 15%,
    15% 15%,
    15% 0%,
    85% 0%,
    85% 15%,
    100% 15%,
    100% 85%,
    85% 85%,
    85% 100%,
    15% 100%,
    15% 85%,
    0% 85%
  );
}
.fa-android {
  clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
}
.fa-gear {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}
@media screen and (min-width: 576px) {
  .skills-center {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
  }
  .skill {
    text-align: center;
  }
  .skill p {
    margin: 0 auto;
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  .skills-center {
    grid-template-columns: repeat(4, 1fr);
  }
  .skills p {
    width: 100%;
  }
}

#form {
  min-height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/background-filler-1.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-title {
  text-align: center;
  color: var(--clr-white);
  margin: 0 0 40px 0;
  font-size: 40px;
  text-transform: uppercase;
}
#email {
  border: none;
  background: transparent;
  border-bottom: 3px solid var(--clr-white);
  font-size: 30px;
  margin: 10px 20px;
}
#email::placeholder {
  color: var(--clr-grey);
  text-transform: capitalize;
}
#submit {
  display: inline-block;
  background: transparent;
  border: 3px solid var(--clr-white);
  padding: 10px 30px;
  font-size: 25px;
  text-transform: uppercase;
  color: var(--clr-yellow);
  margin: 10px 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}
#submit:hover {
  background: var(--clr-yellow);
  border-color: var(--clr-yellow);
  color: var(--clr-white);
}
form {
  display: flex;
  flex-wrap: wrap;
}
#work .title {
  flex-direction: row-reverse;
  margin-top: -20px;
}
#work .title-icon .fa {
  margin-right: 0;
  margin-left: 10px;
}
#work .title-text {
  padding-left: 0;
  padding-right: 10px;
  border-right: 3px solid var(--clr-grey);
  border-left: none;
}
.work-center {
  padding: 40px 0;
  max-width: 90%;
  margin: 0 auto;
}
#work img {
  display: block;
  width: 100%;
  border-radius: 10px;
  border: 3px solid var(--clr-yellow);
}
.button-group {
  padding: 0 0 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button-group button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 25px;
  margin: 10px;
  border-radius: 5px;
  text-transform: uppercase;
  color: var(--clr-black);
  background: var(--clr-yellow);
  border: transparent;
  cursor: pointer;
}
.picture-item {
  width: calc(50% - 20px);
  margin: 10px;
}

@media screen and (min-width: 992px) {
  .picture-item {
    width: calc(25% - 20px);
  }
}

#about {
  min-height: 90vh;
  padding: 40px 0;
  background: linear-gradient(rgba(255, 201, 20, 0.2), rgba(255, 201, 20, 0.2)),
    url(./images/current-projects-1.jpeg) center/cover no-repeat fixed;
  clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
}
#about-photo img {
  width: 100%;
  border-radius: 20px;
  transition: transform 0.3s ease;
}
#about-photo img:hover {
  transform: scale(0.8);
}
#about-center {
  max-width: 90vw;
  margin: 0 auto;
}
#about-photo,
#about-text {
  margin: 40px 0;
}
.ui-accordion-header {
  padding: 20px !important;
  text-align: center;
  background: var(--clr-yellow) !important;
  color: var(--clr-blue) !important;
  text-transform: capitalize;
  font-size: 20px !important;
  margin: 5px 0 !important;
  border: 2px solid var(--clr-blue) !important;
  border-radius: 10px !important;
}
.ui-accordion .ui-accordion-content {
  background: var(--clr-grey) !important;
  padding: 60px !important;
  line-height: 1.8;
  color: var(--clr-white);
  border-radius: 10px !important;
}
@media screen and (min-width: 776px) {
  #about-center {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  #about-text,
  #about-photo {
    flex: 0 0 calc(50% - 1em);
  }
  #about-text {
    align-self: center;
  }
}

#current .title {
  margin: 40px 0;
}
.current-item img {
  display: block;
  width: 100%;
  opacity: 1;
  transition: opacity 0.5s ease;
}
.current-item img:hover {
  opacity: 0.5;
}
.current-item {
  background: linear-gradient(rgb(255, 201, 20), rgb(255, 201, 20));
}
@media screen and (min-width: 576px) {
  #current-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  #current-center {
    grid-template-columns: repeat(4, 1fr);
  }
}

.number {
  text-align: center;
  background: var(--clr-black);
  padding: 40px 0;
  color: var(--clr-cream);
  transition: all 0.3s ease;
}
.number:hover {
  background: var(--clr-cream);
  color: var(--clr-black);
}
.number .fa {
  font-size: 60px;
}
.numscroller {
  font-size: 25px;
  margin: 20px 0;
}
.number h3 {
  text-transform: uppercase;
}
@media screen and (min-width: 576px) {
  #numbers {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  #numbers {
    grid-template-columns: repeat(4, 1fr);
  }
}

.team-member img {
  width: 100px;
  border-radius: 58%;
  margin-top: -35px;
}
#team {
  padding: 40px 0;
  background: #b5c2b7;
}
#team .title-subheading {
  color: var(--clr-blue);
}
#team .title-text {
  border-left: 3px solid var(--clr-blue);
}
.team-member {
  text-align: center;
  border: 1px solid var(--clr-black);
  border-radius: 20px;
  background: var(--clr-white);
  margin: 70px 0;
  transition: all 0.4s ease;
}
.team-member:hover {
  background: var(--clr-blue);
}
#team-center {
  max-width: 90vw;
  margin: 0 auto;
  padding: 40px 0;
}
.team-member h1 {
  text-transform: capitalize;
}
.team-member h5 {
  margin: 10px 0;
  text-transform: uppercase;
}
.team-member hr {
  width: 70%;
  margin: 0 auto;
  border: 1px solid var(--clr-yellow);
}
.team-member p {
  line-height: 2;
  margin: 10px;
}
.team-member-footer {
  padding: 20px 0;
  background: var(--clr-black);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  justify-content: space-around;
}
.team-member-footer .fa {
  font-size: 20px;
  color: var(--clr-yellow);
  transition: all 0.3s ease;
}
.team-member-footer .fa:hover {
  color: var(--clr-blue);
}

@media screen and (min-width: 576px) {
  #team-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
  }
}
@media screen and (min-width: 992px) {
  #team-center {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

#progress-bars {
  padding: 100px 0;
  background: linear-gradient(rgba(255, 201, 20, 0.3), rgba(255, 201, 20, 0.3)),
    url(./images/background-filler-1.jpg) center/cover no-repeat fixed;
}
.progress-item {
  margin: 20px;
}
.progress-center {
  max-width: 70%;
  margin: 0 auto;
}
.progress-text {
  display: flex;
  justify-content: space-between;
  color: var(--clr-blue);
  text-transform: uppercase;
}
.ui-widget-content {
  height: 30px !important;
  background: var(--clr-white) !important;
  border: 3px solid var(--clr-blue) !important;
}
.ui-widget-header {
  background: var(--clr-yellow) !important;
}

#pricing {
  padding: 40px 0;
  background: var(--clr-black);
}
#pricing .title-heading {
  color: var(--clr-yellow);
}
.pricing-center {
  max-width: 90%;
  margin: 0 auto;
}
.pricing-card {
  text-align: center;
  color: var(--clr-white);
  padding: 30px 0;
  margin: 30px 0;
}
.pricing-card ul {
  list-style-type: none;
}
.pricing-card ul li {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.pricing-card h3 {
  color: var(--clr-yellow);
  text-transform: capitalize;
  font-size: 40px;
}
.pricing-card h1 {
  margin: 40px 0;
  font-size: 60px;
}
.price-list .fa {
  font-size: 25px;
  margin-right: 10px;
}
.pricing-card a {
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 2px solid var(--clr-white);
  color: var(--clr-white);
  border-radius: 20px;
  transition: all 0.3s ease;
}
.pricing-card a:hover {
  background: var(--clr-yellow);
  color: var(--clr-black);
  border-color: var(--clr-yellow);
}
.custom {
  background: var(--clr-white);
  color: var(--clr-black);
  border-radius: 30px;
  transition: transform 0.3s ease;
}
.custom:hover {
  transform: translateY(-20px);
}
.custom a {
  color: var(--clr-yellow);
  border-color: var(--clr-yellow);
  transition: all 1s ease;
}
.custom a:hover {
  color: var(--clr-black);
  background: var(--clr-yellow);
  border-color: var(--clr-yellow);
}
@media screen and (min-width: 576px) {
  .pricing-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;
  }
}
#quotes {
  padding: 40px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/quotes-background.jpeg) center/cover no-repeat fixed;
}
#quotes .title-heading {
  color: var(--clr-yellow);
}
.quote {
  text-align: center;
  color: var(--clr-white);
  padding: 20px 0;
  margin: 20px 0;
}
.quote .fa {
  font-size: 35px;
  margin-right: 5px;
  color: var(--clr-yellow);
}
.quote img {
  width: 200px !important;
  margin: 0 auto;
  border-radius: 50%;
}
.quote p {
  line-height: 1.5;
  width: 80%;
  margin: 10px auto;
}

#footer {
  padding: 40px 0;
  min-height: 60vh;
  background: var(--clr-grey);
}
.info-center,
iframe {
  width: 90%;
  margin: 40px auto;
}
iframe {
  display: block;
  border-radius: 20px;
}
.info-item {
  display: flex;
  margin: 10px 0;
}
.info-item .fa {
  font-size: 30px;
  color: var(--clr-yellow);
  padding: 10px;
  background: var(--clr-black);
  margin-right: 15px;
}
@media screen and (min-width: 776px) {
  #footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #footer-info {
    display: flex;
    align-items: center;
  }
  #footer-map {
    align-self: center;
  }
}
